<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i of pending) { %>
        <h1><%=i.gradeNumber%>학년 <%=i.classNumber%>반 <%=i.studentNumber%>번</h1>
        <img src="/<%=secret_image_path%>/<%=i.image%>.jpg" alt="">
        <button onclick="window.location.href = './process/<%=i.image%>'">승인하기</button>
    <% } %>
</body>
</html>