<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i of pending) { %>
        <div style="border-bottom: 1px solid black; margin: 100px;">
            <div>
                <h1><%=i.gradeNumber%>학년 <%=i.classNumber%>반 <%=i.studentNumber%>번</h1>
                <img src="/<%=secret_image_path%>/<%=i.image%>.jpg" alt="">
            </div>
            <button onclick="signUser('./process/<%=i.image%>')">승인하기</button>
        </div>
    <% } %>
    <script>
        function signUser(url) {
            fetch(url).then(res => res.text()).then(res => alert(res))
        }
    </script>
</body>
</html>